name: Pact Consumer Tests

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('consumer/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: run consumer tests
        run: |-
          npm ci
          npm run test
        working-directory: consumer
      - name: publish to broker
        run: npm run pact:publish
        working-directory: consumer
        env:
          PACT_BROKER_TOKEN: "{{ secrets.PACT_PROVIDER_TOKEN }}"
          PACT_BROKER_BASE_URL: "https://jonathancowling.pactflow.io"
