name: Pact Consumer Tests

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: run consumer tests
        run: |-
          npm ci
          npm run test
        working-directory: consumer
      - name: Upload Pacts
        uses: actions/upload-artifact@v2
        with:
          name: pacts
          path: consumer/pacts
      - name: Invoke Provider Workflow
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: Pact Provider Tests
          token: ${{ secrets.PAT_FOR_WORKFLOW }}
