name: Pact Provider Tests

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: start LocalStack
        run: |-
          docker-compose up -d
        working-directory: provider
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('provider/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: run provider in LocalStack
        run: |-
          npm ci
          npm run -- sls deploy --stage local
        working-directory: provider
      - name: set REST_API_ID
        run: |-
          aws apigateway get-rest-apis --endpoint http://localhost:4566 --region us-east-1 \
            | jq -r '.items[0].id' \
            | xargs -I{} echo "REST_API_ID={}" >> $GITHUB_ENV
        env:
          AWS_ACCESS_KEY_ID: 'localstack'
          AWS_SECRET_ACCESS_KEY: 'localstack'
      - run: echo $REST_API_ID
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('provider-tests/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Test with Maven
        run: |-
          mvn test --batch-mode -s settings.xml \
            -Dpactbroker.host="jonathancowling.pactflow.io" \
            -Dpactbroker.port="443" \
            -Dpactbroker.scheme="https" \
            -Dpactbroker.auth.token="${{ secrets.PACT_BROKER_TOKEN }}" \
            -Dpact.verifier.publishResults="true" \
            -Dpact.provider.version="$(
              mvn --batch-mode --quiet org.apache.maven.plugins:maven-help-plugin:2.1.1:evaluate \
                -Dexpression=project.version
            )"
        working-directory: provider-tests
        continue-on-error: true
