name: Pact Provider Tests

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Download artifact
        uses: dawidd6/action-download-artifact@v2
        with:
          # github_token: ${{secrets.GITHUB_TOKEN}}
          workflow: consumer.yml
          workflow_conclusion: success
          branch: main
          name: pacts
          path: provider-tests/pacts
      - name: start LocalStack
        run: |-
          docker-compose up -d
        working-directory: provider
      # race condition between localstack starting and deploying, but serverless should retry
      # - name: Wait for LocalStack
      #   run: sleep 20
      - name: run provider in LocalStack
        run: |-
          npm ci
          npm run -- sls deploy --stage local
        working-directory: provider
      - name: set REST_API_ID
        run: |-
          aws apigateway get-rest-apis --endpoint http://localhost:4566 --region us-east-1 \
            | jq -r '.items[0].id' \
            | xargs -I{} echo "REST_API_ID={}" >> $GITHUB_ENV
      - name: Build with Maven
        run: mvn test -s settings.xml
        working-directory: provider-tests
      - name: Tear Down LocalStack
        run: |-
          docker-compose down -d
        working-directory: provider
          